__pycache__/login.cpython-312.pyc
__pycache__/notes_interface.cpython-312.pyc
__pycache__/register.cpython-312.pyc
__pycache__/password_hashing.cpython-312.pyc
__pycache__/user_json_handling.cpython-312.pyc
__pycache__/user_validation.cpython-312.pyc
